---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Facu's website">
  <main >
    <h1 class="text-6xl">My notes</h1>
    <h2 class="text-4xl">By Facundo Martin Gordillo</h2>
  </main>
</Layout>
