---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Facu's website">
  <div class="flex flex-col gap-16">
    <h1 class="text-4xl md:text-6xl">Hi, I'm Facundo</h1>
    <div class="flex items-center gap-8">
      <a
        href="/articles"
        class="px-4 py-2 text-slate-950 rounded-md bg-slate-300 w-1/2 hover:cursor-pointer
      text-center"
        >See articles</a
      >

      <a
        href="/articles"
        class="px-4 py-2 text-slate-950 rounded-md bg-slate-300 w-1/2 hover:cursor-pointer
      text-center"
        >See treasure trove</a
      >
    </div>
  </div>
</Layout>
