---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allArticles = await getCollection("pages/articles");

export { allArticles };
---

<Layout>
  <h1>Hello</h1>
</Layout>
