---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allArticles = await getCollection("pages/articles");

console.log({ allArticles})

export { allArticles };
---

<Layout>
  <h1>Hello</h1>
</Layout>

