---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";

changeLanguage("es");
---

<Layout title={t("homepage.head.title")}>
  <main>
    <LanguageSelector showFlag={true} class="languages" />
    <h1>{t("homepage.title")} <span aria-hidden="true">🥺</span></h1>
    <Trans i18nKey="homepage.description">
      <p>
        My name is Facundo Martin Gordillo, and welcome to my... portfolio.
        Yeah, I know, you don't have to tell me, it is awful... But hey better
        than nothing, right?
      </p>
    </Trans>
    <section id="projects">
      <h1>{t("homepage.projects.title")}</h1>
      <details>
        <summary>{t("homepage.projects.reduxProject.title")}</summary>
        <p>{t("homepage.projects.reduxProject.description")}</p>
        <p>
          {t("homepage.keywords")}: <code>nextjs</code>, <code
            >redux-toolkit</code
          >, <code>redux-thunk</code>, <code>typescript</code>
        </p>
        <ul>
          <li>
            <a
              href="https://github.com/FMGordillo/curso-de-redux"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.sourceCode")}</a
            >
          </li>
          <li>
            <a
              href="https://redux.facundogordillo.com/"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.tryItOut")}</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>
          <Trans i18nKey="homepage.projects.favformeProject.title">
            FavForMe (<em>discontinued</em>)
          </Trans>
        </summary>
        <Trans i18nKey="homepage.projects.favformeProject.description">
          <p>
            I've worked in a startup called FavForMe, and this is the landing
            page. It had more features, but I disabled them
          </p>
          <p>
            FavForMe was a non-profit social crowdfunding company focused on
            helping to those who help. It had authentication, payments and
            databases
          </p>
        </Trans>
        <p>
          {t("homepage.keywords")}: <code>nextjs</code>, <code>typescript</code
          >, <code>prisma</code>, <code>mercadopago</code>, <code>sentry</code>
        </p>
        <ul>
          <li>
            <a
              href="https://github.com/FMGordillo/favforme-frontend"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.sourceCode")}</a
            >
          </li>
          <li>
            <a
              href="https://favforme.com/"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.tryItOut")}</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>
          <Trans i18nKey="homepage.projects.ibmProject.title">
            IBM Public Internet Form User Registration (<em>unofficial</em>)
          </Trans>
        </summary>
        <p>
          <Trans i18nKey="homepage.projects.ibmProject.description">
            Basic form and <code title="Comma Separated Values">CSV</code> generator
            for an internal IBM tool, allowing them to access the internet
          </Trans>
        </p>
        <p>
          {t("homepage.keywords")}: <code>react</code>, <code>material-ui</code
          >, <code>formik</code>
        </p>
        <ul>
          <li>
            <a
              href="https://github.com/FMGordillo/ibminternet-form-user-registration"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.sourceCode")}</a
            >
          </li>
          <li>
            <a
              href="https://ibm-form-user-registration.vercel.app/"
              target="_blank"
              rel="noreferrer noopener">{t("homepage.tryItOut")}</a
            >
          </li>
        </ul>
      </details>
    </section>
    <section id="faq">
      <h1>FAQ</h1>
      <details>
        <summary>{t("homepage.faq.whoAreYou.title")}</summary>
        <Trans i18nKey="homepage.faq.whoAreYou.description">
          <p>
            Facundo Martin Gordillo, Software Engineer since 2019, born and
            raised in Buenos Aires, Argentina. Currently located in Barcelona,
            Spain
          </p>
          <p>
            I list to J-pop, <a
              href="https://open.spotify.com/playlist/37i9dQZF1DX5g856aiKiDS"
              target="_blank"
              rel="noreferrer noopener">Dalkom Cafe vibes</a
            >, a lot of <a
              href="https://jojimusic.com/"
              target="_blank"
              rel="noreferrer noopener">Joji</a
            > stuff, but everything else it's just random stuff. I love to cut my
            own hair, even if I suck at it
          </p>
          <p>
            Oh, and if you've haven't noticed, I really love to use emojis to
            emphasizes an idea
          </p>
          <p>
            In a near future I'd love to have my own studio to play piano,
            guitar and <em>try</em> to sing
          </p>
        </Trans>
      </details>
      <details>
        <summary>Why this website has no... well, colors or styling?</summary>
        <p>
          TBH, I've been delaying this porfolio for like several years, and I
          have to start somewhere.
        </p>
        <p>
          Something that I want to do though, <mark
            >show a small animation of a project</mark
          >
        </p>
        <p>
          In a near future I will improve it to show my CSS skills, but don't
          hold your breath
        </p>
      </details>
      <details>
        <summary>Where can I find you?</summary>
        <p>Okey, if you insist...</p>
        <p>
          You can reach me out via <a
            href="mailto:me@facundogordillo.com"
            target="_blank"
            rel="noreferrer noopener">email</a
          > or <a
            href="https://www.linkedin.com/in/fmgordillo/"
            target="_blank"
            rel="noreferrer noopener">Linkedin</a
          >
        </p>
      </details>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto;
  }

  .languages {
    background: none;
    border: 1px solid black;
    width: 128px;
    align-self: flex-end;
  }

  details {
    border: 1px solid #000;
    padding: 8px 16px;
  }
  details > summary {
    user-select: none;
  }
  details > summary:hover {
    cursor: pointer;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .project__gif {
    width: 100%;
  }
</style>
