---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
const { title, description } = Astro.props;
---

<Layout backUrl="/articles" title={title} description={description}>
  <div class="text-base/7">
    <slot />
  </div>
  <footer class="text-base/9 max-w-prose mx-auto">
    <p class="text-center">Follow 4 follow?</p>
    <div class="flex gap-4">
      <Link href="https://linkedin.com/in/fmgordillo">Linkedin</Link>
      <Link href="https://twitch.tv/laspark">Twitch</Link>
    </div>
    <br />
  </footer>
</Layout>
