---
import i18next, { t } from "i18next";

export interface Props {
  description?: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>

  html {
    font-family: system-ui, sans-serif;
  }

  @media (prefers-color-scheme: light) {
    :root, body {
      color: #0c0c0c;
      background: #fafafa;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root, body {
      color: #fafafa;
      background: #0c0c0c;
    }
  }
</style>
